In [2]:
import pandas as pd

df = pd.read_csv('CaseStudyData.csv')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41476 entries, 0 to 41475
Data columns (total 31 columns):
PurchaseID                           41476 non-null int64
PurchaseTimestamp                    41476 non-null int64
PurchaseDate                         41476 non-null object
Auction                              41432 non-null object
VehYear                              41432 non-null float64
Make                                 41432 non-null object
Color                                41432 non-null object
Transmission                         41432 non-null object
WheelTypeID                          41432 non-null object
WheelType                            41380 non-null object
VehOdo                               41432 non-null float64
Nationality                          41432 non-null object
Size                                 41432 non-null object
TopThreeAmericanName                 41432 non-null object
MMRAcquisitionAuctionAveragePrice    41416 non-null object
MMRAcquisitionAuctionCleanPrice      41429 non-null object
MMRAcquisitionRetailAveragePrice     41429 non-null object
MMRAcquisitonRetailCleanPrice        41327 non-null object
MMRCurrentAuctionAveragePrice        41429 non-null object
MMRCurrentAuctionCleanPrice          41429 non-null object
MMRCurrentRetailAveragePrice         41409 non-null object
MMRCurrentRetailCleanPrice           41409 non-null object
MMRCurrentRetailRatio                41116 non-null object
PRIMEUNIT                            41432 non-null object
AUCGUART                             41432 non-null object
VNST                                 41432 non-null object
VehBCost                             41432 non-null object
IsOnlineSale                         41432 non-null object
WarrantyCost                         41432 non-null float64
ForSale                              41476 non-null object
IsBadBuy                             41476 non-null int64
dtypes: float64(3), int64(3), object(25)
memory usage: 9.8+ MB
None

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print(df['IsBadBuy'].unique())

[0 1]

In [6]:
print(df['IsBadBuy'].value_counts())
print('--------------------------')
print(df['IsBadBuy'].value_counts(normalize=True))

0    36105
1     5371
Name: IsBadBuy, dtype: int64
--------------------------
0    0.870503
1    0.129497
Name: IsBadBuy, dtype: float64

In [9]:
print(df['Auction'].unique())
print('--------------------------')
print(df['Auction'].value_counts())
print('--------------------------')
print(df['Auction'].value_counts(normalize=True))

['OTHER' 'MANHEIM' nan 'ADESA']
--------------------------
MANHEIM    22168
ADESA      11086
OTHER       8178
Name: Auction, dtype: int64
--------------------------
MANHEIM    0.535045
ADESA      0.267571
OTHER      0.197384
Name: Auction, dtype: float64

In [10]:
print(df['VehYear'].unique())
print('--------------------------')
print(df['VehYear'].value_counts())
print('--------------------------')
print(df['VehYear'].value_counts(normalize=True))

[2008. 2007. 2004. 2006. 2005. 2003. 2009. 2001. 2002.   nan 2010.]
--------------------------
2006.0    9630
2005.0    8682
2007.0    6514
2004.0    5792
2008.0    4177
2003.0    3554
2002.0    1879
2001.0     816
2009.0     387
2010.0       1
Name: VehYear, dtype: int64
--------------------------
2006.0    0.232429
2005.0    0.209548
2007.0    0.157221
2004.0    0.139795
2008.0    0.100816
2003.0    0.085779
2002.0    0.045351
2001.0    0.019695
2009.0    0.009341
2010.0    0.000024
Name: VehYear, dtype: float64

In [11]:
print(df['Make'].unique())
print('--------------------------')
print(df['Make'].value_counts())
print('--------------------------')
print(df['Make'].value_counts(normalize=True))

['DODGE' 'CHRYSLER' 'CHEVROLET' 'PONTIAC' 'MITSUBISHI' 'MAZDA' 'SUZUKI'
 'KIA' 'SATURN' 'TOYOTA' 'FORD' 'BUICK' 'JEEP' 'NISSAN' 'INFINITI'
 'HYUNDAI' 'GMC' 'VOLKSWAGEN' 'HONDA' 'MERCURY' 'OLDSMOBILE' 'ACURA'
 'CADILLAC' 'ISUZU' 'LINCOLN' 'SUBARU' 'SCION' 'LEXUS' 'MINI' 'VOLVO' nan]
--------------------------
CHEVROLET     9548
DODGE         7385
FORD          6458
CHRYSLER      5259
PONTIAC       2355
KIA           1337
SATURN        1245
NISSAN        1186
JEEP           985
HYUNDAI        957
SUZUKI         842
TOYOTA         664
MITSUBISHI     569
MAZDA          532
MERCURY        527
BUICK          413
GMC            351
HONDA          263
OLDSMOBILE     146
ISUZU           82
SCION           77
VOLKSWAGEN      73
LINCOLN         54
INFINITI        27
MINI            19
ACURA           19
SUBARU          17
CADILLAC        17
LEXUS           13
VOLVO           12
Name: Make, dtype: int64
--------------------------
CHEVROLET     0.230450
DODGE         0.178244
FORD          0.155870
CHRYSLER      0.126931
PONTIAC       0.056840
KIA           0.032270
SATURN        0.030049
NISSAN        0.028625
JEEP          0.023774
HYUNDAI       0.023098
SUZUKI        0.020322
TOYOTA        0.016026
MITSUBISHI    0.013733
MAZDA         0.012840
MERCURY       0.012720
BUICK         0.009968
GMC           0.008472
HONDA         0.006348
OLDSMOBILE    0.003524
ISUZU         0.001979
SCION         0.001858
VOLKSWAGEN    0.001762
LINCOLN       0.001303
INFINITI      0.000652
MINI          0.000459
ACURA         0.000459
SUBARU        0.000410
CADILLAC      0.000410
LEXUS         0.000314
VOLVO         0.000290
Name: Make, dtype: float64

In [12]:
print(df['Color'].unique())
print('--------------------------')
print(df['Color'].value_counts())
print('--------------------------')
print(df['Color'].value_counts(normalize=True))

['RED' 'SILVER' 'WHITE' 'BLUE' 'BEIGE' 'BLACK' 'GREEN' 'GREY' 'NOT AVAIL'
 'GOLD' 'PURPLE' 'ORANGE' 'MAROON' 'YELLOW' 'OTHER' 'BROWN' nan '?']
--------------------------
SILVER       8541
WHITE        6890
BLUE         5855
BLACK        4392
GREY         4248
RED          3661
GOLD         3059
GREEN        1796
MAROON       1039
BEIGE         894
ORANGE        255
BROWN         249
PURPLE        205
YELLOW        141
OTHER         136
NOT AVAIL      65
?               6
Name: Color, dtype: int64
--------------------------
SILVER       0.206145
WHITE        0.166297
BLUE         0.141316
BLACK        0.106005
GREY         0.102529
RED          0.088362
GOLD         0.073832
GREEN        0.043348
MAROON       0.025077
BEIGE        0.021578
ORANGE       0.006155
BROWN        0.006010
PURPLE       0.004948
YELLOW       0.003403
OTHER        0.003282
NOT AVAIL    0.001569
?            0.000145
Name: Color, dtype: float64

In [13]:
print(df['Transmission'].unique())
print('--------------------------')
print(df['Transmission'].value_counts())
print('--------------------------')
print(df['Transmission'].value_counts(normalize=True))

['AUTO' 'MANUAL' 'Manual' nan '?']
--------------------------
AUTO      39930
MANUAL     1495
?             6
Manual        1
Name: Transmission, dtype: int64
--------------------------
AUTO      0.963748
MANUAL    0.036083
?         0.000145
Manual    0.000024
Name: Transmission, dtype: float64

In [14]:
print(df['WheelTypeID'].unique())
print('--------------------------')
print(df['WheelTypeID'].value_counts())
print('--------------------------')
print(df['WheelTypeID'].value_counts(normalize=True))

['2' '1' '?' '3' '0' nan]
--------------------------
1    20426
2    18791
?     1775
3      437
0        3
Name: WheelTypeID, dtype: int64
--------------------------
1    0.493001
2    0.453538
?    0.042841
3    0.010547
0    0.000072
Name: WheelTypeID, dtype: float64

In [15]:
print(df['WheelType'].unique())
print('--------------------------')
print(df['WheelType'].value_counts())
print('--------------------------')
print(df['WheelType'].value_counts(normalize=True))

['Covers' 'Alloy' '?' 'Special' nan]
--------------------------
Alloy      20406
Covers     18761
?           1777
Special      436
Name: WheelType, dtype: int64
--------------------------
Alloy      0.493137
Covers     0.453383
?          0.042943
Special    0.010536
Name: WheelType, dtype: float64

In [17]:
print(df['VehOdo'].unique())
print('--------------------------')
print(df['VehOdo'].value_counts())
print('--------------------------')
print(df['VehOdo'].value_counts(normalize=True))

[51099. 48542. 46318. ... 65399. 45234. 66855.]
--------------------------
84675.0     6
85884.0     6
67464.0     6
72101.0     6
79600.0     6
83962.0     6
76867.0     6
80612.0     6
67860.0     6
67756.0     6
71225.0     6
90096.0     6
79992.0     6
67622.0     6
79070.0     6
73232.0     6
79993.0     6
50902.0     6
67953.0     6
76267.0     6
74671.0     6
62277.0     5
78643.0     5
78645.0     5
77614.0     5
76831.0     5
70269.0     5
74783.0     5
82370.0     5
67625.0     5
           ..
84087.0     1
95023.0     1
43416.0     1
57501.0     1
50582.0     1
87221.0     1
43137.0     1
55947.0     1
59296.0     1
39859.0     1
84084.0     1
86272.0     1
76327.0     1
78625.0     1
53348.0     1
67002.0     1
76183.0     1
63889.0     1
85378.0     1
70435.0     1
78632.0     1
49196.0     1
110119.0    1
86821.0     1
28275.0     1
52817.0     1
67295.0     1
59971.0     1
46211.0     1
90112.0     1
Name: VehOdo, Length: 28604, dtype: int64
--------------------------
84675.0     0.000145
85884.0     0.000145
67464.0     0.000145
72101.0     0.000145
79600.0     0.000145
83962.0     0.000145
76867.0     0.000145
80612.0     0.000145
67860.0     0.000145
67756.0     0.000145
71225.0     0.000145
90096.0     0.000145
79992.0     0.000145
67622.0     0.000145
79070.0     0.000145
73232.0     0.000145
79993.0     0.000145
50902.0     0.000145
67953.0     0.000145
76267.0     0.000145
74671.0     0.000145
62277.0     0.000121
78643.0     0.000121
78645.0     0.000121
77614.0     0.000121
76831.0     0.000121
70269.0     0.000121
74783.0     0.000121
82370.0     0.000121
67625.0     0.000121
              ...
84087.0     0.000024
95023.0     0.000024
43416.0     0.000024
57501.0     0.000024
50582.0     0.000024
87221.0     0.000024
43137.0     0.000024
55947.0     0.000024
59296.0     0.000024
39859.0     0.000024
84084.0     0.000024
86272.0     0.000024
76327.0     0.000024
78625.0     0.000024
53348.0     0.000024
67002.0     0.000024
76183.0     0.000024
63889.0     0.000024
85378.0     0.000024
70435.0     0.000024
78632.0     0.000024
49196.0     0.000024
110119.0    0.000024
86821.0     0.000024
28275.0     0.000024
52817.0     0.000024
67295.0     0.000024
59971.0     0.000024
46211.0     0.000024
90112.0     0.000024
Name: VehOdo, Length: 28604, dtype: float64

In [19]:
print(df['Nationality'].unique())
print('--------------------------')
print(df['Nationality'].value_counts())
print('--------------------------')
print(df['Nationality'].value_counts(normalize=True))

['AMERICAN' 'OTHER ASIAN' 'USA' 'TOP LINE ASIAN' 'OTHER' '?' nan]
--------------------------
AMERICAN          34616
OTHER ASIAN        4474
TOP LINE ASIAN     2110
USA                 125
OTHER               104
?                     3
Name: Nationality, dtype: int64
--------------------------
AMERICAN          0.835489
OTHER ASIAN       0.107984
TOP LINE ASIAN    0.050927
USA               0.003017
OTHER             0.002510
?                 0.000072
Name: Nationality, dtype: float64

In [20]:
print(df['Size'].unique())
print('--------------------------')
print(df['Size'].value_counts())
print('--------------------------')
print(df['Size'].value_counts(normalize=True))

['MEDIUM' 'COMPACT' 'LARGE' 'MEDIUM SUV' 'SPECIALTY' 'CROSSOVER' 'VAN'
 'LARGE SUV' 'SMALL TRUCK' 'LARGE TRUCK' 'SMALL SUV' 'SPORTS' '?' nan]
--------------------------
MEDIUM         17540
LARGE           4968
MEDIUM SUV      4569
COMPACT         4035
VAN             3367
LARGE TRUCK     1897
SMALL SUV       1332
SPECIALTY        998
CROSSOVER        974
LARGE SUV        830
SMALL TRUCK      494
SPORTS           425
?                  3
Name: Size, dtype: int64
--------------------------
MEDIUM         0.423344
LARGE          0.119907
MEDIUM SUV     0.110277
COMPACT        0.097388
VAN            0.081266
LARGE TRUCK    0.045786
SMALL SUV      0.032149
SPECIALTY      0.024088
CROSSOVER      0.023508
LARGE SUV      0.020033
SMALL TRUCK    0.011923
SPORTS         0.010258
?              0.000072
Name: Size, dtype: float64

In [21]:
print(df['TopThreeAmericanName'].unique())
print('--------------------------')
print(df['TopThreeAmericanName'].value_counts())
print('--------------------------')
print(df['TopThreeAmericanName'].value_counts(normalize=True))

['CHRYSLER' 'GM' 'OTHER' 'FORD' '?' nan]
--------------------------
GM          14075
CHRYSLER    13627
FORD         7039
OTHER        6688
?               3
Name: TopThreeAmericanName, dtype: int64
--------------------------
GM          0.339713
CHRYSLER    0.328900
FORD        0.169893
OTHER       0.161421
?           0.000072
Name: TopThreeAmericanName, dtype: float64

In [22]:
print(df['MMRAcquisitionAuctionAveragePrice'].unique())
print('--------------------------')
print(df['MMRAcquisitionAuctionAveragePrice'].value_counts())
print('--------------------------')
print(df['MMRAcquisitionAuctionAveragePrice'].value_counts(normalize=True))

['8566' '8835' '7165' ... '9842' '1996' '7535']
--------------------------
0        502
5480     205
6311      96
7811      79
7644      74
7991      72
5569      71
4573      67
7245      62
6858      57
7960      57
8196      53
6892      52
5427      52
7293      51
3688      50
7048      48
7533      45
7513      45
6820      43
7314      42
7541      42
5500      41
8194      41
8268      41
6733      40
5443      38
7171      37
6867      37
6948      36
        ...
11660      1
10846      1
16412      1
11983      1
9395       1
11778      1
12277      1
13699      1
10985      1
13737      1
8506       1
1499       1
12555      1
11178      1
10886      1
11098      1
8959       1
7340       1
1433       1
9064       1
11673      1
1832       1
9965       1
10437      1
14539      1
966        1
1743       1
8357       1
9992       1
15813      1
Name: MMRAcquisitionAuctionAveragePrice, Length: 9271, dtype: int64
--------------------------
0        0.012121
5480     0.004950
6311     0.002318
7811     0.001907
7644     0.001787
7991     0.001738
5569     0.001714
4573     0.001618
7245     0.001497
6858     0.001376
7960     0.001376
8196     0.001280
6892     0.001256
5427     0.001256
7293     0.001231
3688     0.001207
7048     0.001159
7533     0.001087
7513     0.001087
6820     0.001038
7314     0.001014
7541     0.001014
5500     0.000990
8194     0.000990
8268     0.000990
6733     0.000966
5443     0.000918
7171     0.000893
6867     0.000893
6948     0.000869
           ...
11660    0.000024
10846    0.000024
16412    0.000024
11983    0.000024
9395     0.000024
11778    0.000024
12277    0.000024
13699    0.000024
10985    0.000024
13737    0.000024
8506     0.000024
1499     0.000024
12555    0.000024
11178    0.000024
10886    0.000024
11098    0.000024
8959     0.000024
7340     0.000024
1433     0.000024
9064     0.000024
11673    0.000024
1832     0.000024
9965     0.000024
10437    0.000024
14539    0.000024
966      0.000024
1743     0.000024
8357     0.000024
9992     0.000024
15813    0.000024
Name: MMRAcquisitionAuctionAveragePrice, Length: 9271, dtype: float64

In [23]:
print(df['MMRAcquisitionAuctionCleanPrice'].unique())
print('--------------------------')
print(df['MMRAcquisitionAuctionCleanPrice'].value_counts())
print('--------------------------')
print(df['MMRAcquisitionAuctionCleanPrice'].value_counts(normalize=True))

['9325' '9428' '7770' ... '8757' '13568' '5714']
--------------------------
0        415
6461     207
7450     100
1         87
8258      81
8892      74
6584      67
8449      63
7837      59
5967      58
9044      58
8466      57
8107      56
8469      55
4783      48
7934      46
7614      46
6508      45
6235      44
8151      44
8287      44
9045      42
4516      41
8187      40
9772      40
6920      40
8006      40
7195      39
9027      39
7771      39
        ...
3400       1
11338      1
17052      1
2714       1
16881      1
11530      1
11954      1
15289      1
9118       1
12778      1
11291      1
16463      1
12356      1
2564       1
3124       1
11238      1
11834      1
15438      1
14208      1
3188       1
12054      1
3554       1
12249      1
11994      1
15539      1
7019       1
11020      1
8429       1
8482       1
5313       1
Name: MMRAcquisitionAuctionCleanPrice, Length: 10010, dtype: int64
--------------------------
0        0.010017
6461     0.004997
7450     0.002414
1        0.002100
8258     0.001955
8892     0.001786
6584     0.001617
8449     0.001521
7837     0.001424
5967     0.001400
9044     0.001400
8466     0.001376
8107     0.001352
8469     0.001328
4783     0.001159
7934     0.001110
7614     0.001110
6508     0.001086
6235     0.001062
8151     0.001062
8287     0.001062
9045     0.001014
4516     0.000990
8187     0.000966
9772     0.000966
6920     0.000966
8006     0.000966
7195     0.000941
9027     0.000941
7771     0.000941
           ...
3400     0.000024
11338    0.000024
17052    0.000024
2714     0.000024
16881    0.000024
11530    0.000024
11954    0.000024
15289    0.000024
9118     0.000024
12778    0.000024
11291    0.000024
16463    0.000024
12356    0.000024
2564     0.000024
3124     0.000024
11238    0.000024
11834    0.000024
15438    0.000024
14208    0.000024
3188     0.000024
12054    0.000024
3554     0.000024
12249    0.000024
11994    0.000024
15539    0.000024
7019     0.000024
11020    0.000024
8429     0.000024
8482     0.000024
5313     0.000024
Name: MMRAcquisitionAuctionCleanPrice, Length: 10010, dtype: float64

In [24]:
print(df['MMRAcquisitionRetailAveragePrice'].unique())
print('--------------------------')
print(df['MMRAcquisitionRetailAveragePrice'].value_counts())
print('--------------------------')
print(df['MMRAcquisitionRetailAveragePrice'].value_counts(normalize=True))

['9751' '10042' '8238' ... '2065' '5892' '2656']
--------------------------
0        502
6418     206
7316      96
11114     81
8756      77
6515      68
5439      59
9097      58
7907      58
11882     58
8325      58
9352      52
4483      49
6361      48
11006     47
7943      45
10574     44
10856     43
9429      43
8600      43
8614      43
7866      42
6440      41
9350      39
6378      39
7916      39
7772      39
9091      37
11396     37
10875     37
        ...
12209      1
11469      1
12932      1
12530      1
2078       1
8826       1
3618       1
12267      1
15126      1
12324      1
5955       1
9558       1
10884      1
3839       1
12715      1
3138       1
12338      1
13634      1
5164       1
3171       1
4879       1
13770      1
4038       1
7896       1
4638       1
3375       1
2654       1
11520      1
13507      1
9443       1
Name: MMRAcquisitionRetailAveragePrice, Length: 11070, dtype: int64
--------------------------
0        0.012117
6418     0.004972
7316     0.002317
11114    0.001955
8756     0.001859
6515     0.001641
5439     0.001424
9097     0.001400
7907     0.001400
11882    0.001400
8325     0.001400
9352     0.001255
4483     0.001183
6361     0.001159
11006    0.001134
7943     0.001086
10574    0.001062
10856    0.001038
9429     0.001038
8600     0.001038
8614     0.001038
7866     0.001014
6440     0.000990
9350     0.000941
6378     0.000941
7916     0.000941
7772     0.000941
9091     0.000893
11396    0.000893
10875    0.000893
           ...
12209    0.000024
11469    0.000024
12932    0.000024
12530    0.000024
2078     0.000024
8826     0.000024
3618     0.000024
12267    0.000024
15126    0.000024
12324    0.000024
5955     0.000024
9558     0.000024
10884    0.000024
3839     0.000024
12715    0.000024
3138     0.000024
12338    0.000024
13634    0.000024
5164     0.000024
3171     0.000024
4879     0.000024
13770    0.000024
4038     0.000024
7896     0.000024
4638     0.000024
3375     0.000024
2654     0.000024
11520    0.000024
13507    0.000024
9443     0.000024
Name: MMRAcquisitionRetailAveragePrice, Length: 11070, dtype: float64

In [25]:
print(df['MMRAcquisitonRetailCleanPrice'].unique())
print('--------------------------')
print(df['MMRAcquisitonRetailCleanPrice'].value_counts())
print('--------------------------')
print(df['MMRAcquisitonRetailCleanPrice'].value_counts(normalize=True))

['10571' '10682' '8892' ... '6107' '6967' '4937']
--------------------------
0        501
7478     207
8546      94
11562     80
10103     69
7611      67
9643      64
6944      58
10268     57
8964      55
9256      55
12239     52
11443     49
11447     47
5666      46
7529      45
11599     44
11513     43
8271      43
10748     42
9303      41
7974      40
5377      40
11054     40
10269     39
10315     39
12565     39
7234      39
9613      38
12224     38
        ...
17880      1
18952      1
17970      1
17083      1
9241       1
6182       1
7499       1
11102      1
7093       1
18108      1
17288      1
13297      1
14018      1
17514      1
18360      1
13823      1
14444      1
23432      1
4018       1
16728      1
15748      1
14843      1
16423      1
5334       1
13545      1
16427      1
5182       1
5932       1
13711      1
4377       1
Name: MMRAcquisitonRetailCleanPrice, Length: 11583, dtype: int64
--------------------------
0        0.012123
7478     0.005009
8546     0.002275
11562    0.001936
10103    0.001670
7611     0.001621
9643     0.001549
6944     0.001403
10268    0.001379
8964     0.001331
9256     0.001331
12239    0.001258
11443    0.001186
11447    0.001137
5666     0.001113
7529     0.001089
11599    0.001065
11513    0.001040
8271     0.001040
10748    0.001016
9303     0.000992
7974     0.000968
5377     0.000968
11054    0.000968
10269    0.000944
10315    0.000944
12565    0.000944
7234     0.000944
9613     0.000919
12224    0.000919
           ...
17880    0.000024
18952    0.000024
17970    0.000024
17083    0.000024
9241     0.000024
6182     0.000024
7499     0.000024
11102    0.000024
7093     0.000024
18108    0.000024
17288    0.000024
13297    0.000024
14018    0.000024
17514    0.000024
18360    0.000024
13823    0.000024
14444    0.000024
23432    0.000024
4018     0.000024
16728    0.000024
15748    0.000024
14843    0.000024
16423    0.000024
5334     0.000024
13545    0.000024
16427    0.000024
5182     0.000024
5932     0.000024
13711    0.000024
4377     0.000024
Name: MMRAcquisitonRetailCleanPrice, Length: 11583, dtype: float64

In [26]:
print(df['MMRCurrentAuctionAveragePrice'].unique())
print('--------------------------')
print(df['MMRCurrentAuctionAveragePrice'].value_counts())
print('--------------------------')
print(df['MMRCurrentAuctionAveragePrice'].value_counts(normalize=True))

['7781' '8568' '8137' ... '2062' '13646' '7730']
--------------------------
0        287
?        184
5480     160
6311      78
7269      75
8186      71
8033      66
7644      65
5569      59
6966      54
6858      51
8196      48
6814      45
5033      45
7524      43
4573      41
6967      39
7608      38
7612      38
7901      37
7495      37
8018      35
8268      35
8140      35
8568      35
6892      35
7457      34
7950      34
7661      34
5760      33
        ...
8727       1
1406       1
8042       1
5203       1
3394       1
7251       1
9362       1
10895      1
7797       1
9224       1
10212      1
15276      1
12641      1
8350       1
1963       1
3211       1
1836       1
11684      1
3479       1
8623       1
3702       1
12785      1
13513      1
13980      1
5254       1
2192       1
11309      1
10796      1
11892      1
2197       1
Name: MMRCurrentAuctionAveragePrice, Length: 9183, dtype: int64
--------------------------
0        0.006928
?        0.004441
5480     0.003862
6311     0.001883
7269     0.001810
8186     0.001714
8033     0.001593
7644     0.001569
5569     0.001424
6966     0.001303
6858     0.001231
8196     0.001159
6814     0.001086
5033     0.001086
7524     0.001038
4573     0.000990
6967     0.000941
7608     0.000917
7612     0.000917
7901     0.000893
7495     0.000893
8018     0.000845
8268     0.000845
8140     0.000845
8568     0.000845
6892     0.000845
7457     0.000821
7950     0.000821
7661     0.000821
5760     0.000797
           ...
8727     0.000024
1406     0.000024
8042     0.000024
5203     0.000024
3394     0.000024
7251     0.000024
9362     0.000024
10895    0.000024
7797     0.000024
9224     0.000024
10212    0.000024
15276    0.000024
12641    0.000024
8350     0.000024
1963     0.000024
3211     0.000024
1836     0.000024
11684    0.000024
3479     0.000024
8623     0.000024
3702     0.000024
12785    0.000024
13513    0.000024
13980    0.000024
5254     0.000024
2192     0.000024
11309    0.000024
10796    0.000024
11892    0.000024
2197     0.000024
Name: MMRCurrentAuctionAveragePrice, Length: 9183, dtype: float64

In [27]:
print(df['MMRCurrentAuctionCleanPrice'].unique())
print('--------------------------')
print(df['MMRCurrentAuctionCleanPrice'].value_counts())
print('--------------------------')
print(df['MMRCurrentAuctionCleanPrice'].value_counts(normalize=True))

['8545' '9325' '8733' ... '13262' '11424' '15015']
--------------------------
0        206
?        184
6461     163
1         81
7450      77
8892      66
7898      58
8107      56
6584      54
9279      54
9044      48
5967      48
7500      46
8282      45
8484      44
9237      42
7560      41
9325      40
8277      38
7324      38
8639      38
8513      38
8438      37
8811      36
8168      36
9129      36
7885      35
4783      35
8669      34
9772      34
        ...
3026       1
14128      1
4438       1
13312      1
4990       1
4072       1
10311      1
13712      1
12675      1
1942       1
3378       1
11303      1
10251      1
13719      1
13725      1
14051      1
15624      1
6086       1
6604       1
4730       1
7345       1
14730      1
12012      1
2030       1
14017      1
8633       1
9100       1
6760       1
11309      1
6332       1
Name: MMRCurrentAuctionCleanPrice, Length: 9890, dtype: int64
--------------------------
0        0.004972
?        0.004441
6461     0.003934
1        0.001955
7450     0.001859
8892     0.001593
7898     0.001400
8107     0.001352
6584     0.001303
9279     0.001303
9044     0.001159
5967     0.001159
7500     0.001110
8282     0.001086
8484     0.001062
9237     0.001014
7560     0.000990
9325     0.000966
8277     0.000917
7324     0.000917
8639     0.000917
8513     0.000917
8438     0.000893
8811     0.000869
8168     0.000869
9129     0.000869
7885     0.000845
4783     0.000845
8669     0.000821
9772     0.000821
           ...
3026     0.000024
14128    0.000024
4438     0.000024
13312    0.000024
4990     0.000024
4072     0.000024
10311    0.000024
13712    0.000024
12675    0.000024
1942     0.000024
3378     0.000024
11303    0.000024
10251    0.000024
13719    0.000024
13725    0.000024
14051    0.000024
15624    0.000024
6086     0.000024
6604     0.000024
4730     0.000024
7345     0.000024
14730    0.000024
12012    0.000024
2030     0.000024
14017    0.000024
8633     0.000024
9100     0.000024
6760     0.000024
11309    0.000024
6332     0.000024
Name: MMRCurrentAuctionCleanPrice, Length: 9890, dtype: float64

In [28]:
print(df['MMRCurrentRetailAveragePrice'].unique())
print('--------------------------')
print(df['MMRCurrentRetailAveragePrice'].value_counts())
print('--------------------------')
print(df['MMRCurrentRetailAveragePrice'].value_counts(normalize=True))

['11777' '9753' '9288' ... '8125' '15702' '17619']
--------------------------
0        287
?        184
6418     157
7316      77
8756      65
10834     57
11674     55
6515      53
7907      49
9352      47
11237     46
5439      42
10921     41
9753      39
9429      36
11640     36
7943      35
10564     35
11710     35
11598     33
10481     33
11913     33
8885      32
11713     32
9005      31
9332      30
7267      30
6721      30
11076     30
9085      29
        ...
4288       1
6089       1
13616      1
3080       1
3647       1
9425       1
6057       1
6740       1
7073       1
13771      1
14011      1
4421       1
14187      1
6397       1
14055      1
5904       1
1936       1
12821      1
4759       1
7225       1
12790      1
4897       1
22120      1
16119      1
4296       1
11347      1
14727      1
15743      1
9037       1
12895      1
Name: MMRCurrentRetailAveragePrice, Length: 10935, dtype: int64
--------------------------
0        0.006931
?        0.004443
6418     0.003791
7316     0.001859
8756     0.001570
10834    0.001377
11674    0.001328
6515     0.001280
7907     0.001183
9352     0.001135
11237    0.001111
5439     0.001014
10921    0.000990
9753     0.000942
9429     0.000869
11640    0.000869
7943     0.000845
10564    0.000845
11710    0.000845
11598    0.000797
10481    0.000797
11913    0.000797
8885     0.000773
11713    0.000773
9005     0.000749
9332     0.000724
7267     0.000724
6721     0.000724
11076    0.000724
9085     0.000700
           ...
4288     0.000024
6089     0.000024
13616    0.000024
3080     0.000024
3647     0.000024
9425     0.000024
6057     0.000024
6740     0.000024
7073     0.000024
13771    0.000024
14011    0.000024
4421     0.000024
14187    0.000024
6397     0.000024
14055    0.000024
5904     0.000024
1936     0.000024
12821    0.000024
4759     0.000024
7225     0.000024
12790    0.000024
4897     0.000024
22120    0.000024
16119    0.000024
4296     0.000024
11347    0.000024
14727    0.000024
15743    0.000024
9037     0.000024
12895    0.000024
Name: MMRCurrentRetailAveragePrice, Length: 10935, dtype: float64

In [29]:
print(df['MMRCurrentRetailCleanPrice'].unique())
print('--------------------------')
print(df['MMRCurrentRetailCleanPrice'].value_counts())
print('--------------------------')
print(df['MMRCurrentRetailCleanPrice'].value_counts(normalize=True))

['12505' '10571' '9932' ... '17702' '19161' '14402']
--------------------------
0        287
?        184
7478     161
8546      75
10103     65
12387     59
7611      57
11413     54
11706     52
12864     48
10268     48
9256      48
11739     46
6944      44
9830      41
10571     40
12308     39
11542     39
12701     39
12309     38
11431     37
11944     36
11054     36
12272     36
9613      34
12687     34
10599     32
7826      32
12252     32
9939      31
        ...
14581      1
6729       1
12532      1
5440       1
10053      1
2400       1
14511      1
18713      1
8939       1
7142       1
15610      1
18827      1
14694      1
6394       1
2758       1
12932      1
5502       1
13126      1
8343       1
11893      1
11696      1
5827       1
7689       1
13557      1
12267      1
15430      1
6194       1
13985      1
5694       1
5888       1
Name: MMRCurrentRetailCleanPrice, Length: 11363, dtype: int64
--------------------------
0        0.006931
?        0.004443
7478     0.003888
8546     0.001811
10103    0.001570
12387    0.001425
7611     0.001377
11413    0.001304
11706    0.001256
12864    0.001159
10268    0.001159
9256     0.001159
11739    0.001111
6944     0.001063
9830     0.000990
10571    0.000966
12308    0.000942
11542    0.000942
12701    0.000942
12309    0.000918
11431    0.000894
11944    0.000869
11054    0.000869
12272    0.000869
9613     0.000821
12687    0.000821
10599    0.000773
7826     0.000773
12252    0.000773
9939     0.000749
           ...
14581    0.000024
6729     0.000024
12532    0.000024
5440     0.000024
10053    0.000024
2400     0.000024
14511    0.000024
18713    0.000024
8939     0.000024
7142     0.000024
15610    0.000024
18827    0.000024
14694    0.000024
6394     0.000024
2758     0.000024
12932    0.000024
5502     0.000024
13126    0.000024
8343     0.000024
11893    0.000024
11696    0.000024
5827     0.000024
7689     0.000024
13557    0.000024
12267    0.000024
15430    0.000024
6194     0.000024
13985    0.000024
5694     0.000024
5888     0.000024
Name: MMRCurrentRetailCleanPrice, Length: 11363, dtype: float64

In [30]:
print(df['MMRCurrentRetailRatio'].unique())
print('--------------------------')
print(df['MMRCurrentRetailRatio'].value_counts())
print('--------------------------')
print(df['MMRCurrentRetailRatio'].value_counts(normalize=True))

['0.941783287' '0.922618485' '0.935159082' ... '0.814552804' '0.821483127'
 '0.90246112']
--------------------------
#VALUE!        178
0.858250869    156
0.856073017     74
0.866673265     62
0.949268378     53
0.855997898     52
0.907493781     48
0.910790806     46
0.854256698     43
0.957236562     42
0.783266129     40
0.9461965       37
0.945726357     36
0.922618485     34
0.924153617     34
0.852994391     33
0.970746415     32
0.945345927     31
0.858803987     29
0.893901919     28
0.902826318     28
0.9478819       28
0.928585961     27
0.920478702     27
0.943994181     26
0.936503444     26
0.826276917     26
0.738042577     26
0.807624781     26
0.94583974      26
              ...
0.79682896       1
0.804421769      1
0.863085334      1
0.920142641      1
0.847563269      1
0.874392049      1
0.881235479      1
0.91871547       1
0.823851665      1
0.90473327       1
0.890960112      1
0.852336888      1
0.85703735       1
0.724224644      1
0.828845534      1
0.857023142      1
0.865375749      1
0.877941176      1
0.848490693      1
0.907639923      1
0.858992258      1
0.87416985       1
0.863597212      1
0.838223242      1
0.926235103      1
0.939468762      1
0.847631729      1
0.842024875      1
0.909606324      1
0.815476851      1
Name: MMRCurrentRetailRatio, Length: 25870, dtype: int64
--------------------------
#VALUE!        0.004329
0.858250869    0.003794
0.856073017    0.001800
0.866673265    0.001508
0.949268378    0.001289
0.855997898    0.001265
0.907493781    0.001167
0.910790806    0.001119
0.854256698    0.001046
0.957236562    0.001022
0.783266129    0.000973
0.9461965      0.000900
0.945726357    0.000876
0.922618485    0.000827
0.924153617    0.000827
0.852994391    0.000803
0.970746415    0.000778
0.945345927    0.000754
0.858803987    0.000705
0.893901919    0.000681
0.902826318    0.000681
0.9478819      0.000681
0.928585961    0.000657
0.920478702    0.000657
0.943994181    0.000632
0.936503444    0.000632
0.826276917    0.000632
0.738042577    0.000632
0.807624781    0.000632
0.94583974     0.000632
                 ...
0.79682896     0.000024
0.804421769    0.000024
0.863085334    0.000024
0.920142641    0.000024
0.847563269    0.000024
0.874392049    0.000024
0.881235479    0.000024
0.91871547     0.000024
0.823851665    0.000024
0.90473327     0.000024
0.890960112    0.000024
0.852336888    0.000024
0.85703735     0.000024
0.724224644    0.000024
0.828845534    0.000024
0.857023142    0.000024
0.865375749    0.000024
0.877941176    0.000024
0.848490693    0.000024
0.907639923    0.000024
0.858992258    0.000024
0.87416985     0.000024
0.863597212    0.000024
0.838223242    0.000024
0.926235103    0.000024
0.939468762    0.000024
0.847631729    0.000024
0.842024875    0.000024
0.909606324    0.000024
0.815476851    0.000024
Name: MMRCurrentRetailRatio, Length: 25870, dtype: float64

In [31]:
print(df['PRIMEUNIT'].unique())
print('--------------------------')
print(df['PRIMEUNIT'].value_counts())
print('--------------------------')
print(df['PRIMEUNIT'].value_counts(normalize=True))

['?' 'NO' 'YES' nan]
--------------------------
?      39634
NO      1764
YES       34
Name: PRIMEUNIT, dtype: int64
--------------------------
?      0.956604
NO     0.042576
YES    0.000821
Name: PRIMEUNIT, dtype: float64

In [32]:
print(df['AUCGUART'].unique())
print('--------------------------')
print(df['AUCGUART'].value_counts())
print('--------------------------')
print(df['AUCGUART'].value_counts(normalize=True))

['?' 'GREEN' 'RED' nan]
--------------------------
?        39634
GREEN     1754
RED         44
Name: AUCGUART, dtype: int64
--------------------------
?        0.956604
GREEN    0.042334
RED      0.001062
Name: AUCGUART, dtype: float64

In [33]:
print(df['VNST'].unique())
print('--------------------------')
print(df['VNST'].value_counts())
print('--------------------------')
print(df['VNST'].value_counts(normalize=True))

['NC' 'CA' 'TX' 'FL' 'NV' 'CO' 'NM' 'LA' 'SC' 'WV' 'TN' 'OH' 'VA' 'IN'
 'GA' 'IL' 'AZ' 'PA' 'MO' 'AL' 'MS' 'WA' 'ID' 'OK' nan 'NH' 'NJ' 'NY' 'NE'
 'OR' 'KY' 'UT']
--------------------------
TX    9076
FL    5250
CO    3623
NC    3594
AZ    3383
CA    3268
OK    2595
SC    1662
TN    1471
GA    1287
VA    1093
MO     758
PA     700
NV     553
IN     486
MS     412
LA     349
NJ     317
NM     239
KY     230
AL     179
UT     165
IL     165
WV     137
WA     136
OR     136
NH      97
NE      26
OH      25
ID      14
NY       6
Name: VNST, dtype: int64
--------------------------
TX    0.219058
FL    0.126714
CO    0.087444
NC    0.086745
AZ    0.081652
CA    0.078876
OK    0.062633
SC    0.040114
TN    0.035504
GA    0.031063
VA    0.026381
MO    0.018295
PA    0.016895
NV    0.013347
IN    0.011730
MS    0.009944
LA    0.008423
NJ    0.007651
NM    0.005768
KY    0.005551
AL    0.004320
UT    0.003982
IL    0.003982
WV    0.003307
WA    0.003282
OR    0.003282
NH    0.002341
NE    0.000628
OH    0.000603
ID    0.000338
NY    0.000145
Name: VNST, dtype: float64

In [34]:
print(df['VehBCost'].unique())
print('--------------------------')
print(df['VehBCost'].value_counts())
print('--------------------------')
print(df['VehBCost'].value_counts(normalize=True))

['7800' '6000' '7500' ... '10885' '11945' '3205']
--------------------------
7500     459
6500     267
7800     259
7200     254
7000     247
6000     242
8000     241
4200     230
6300     226
7100     221
7400     199
6100     189
6400     188
7300     176
7700     170
8200     157
5000     156
5500     154
6800     147
6700     145
5700     143
6200     140
7600     138
6600     138
4175     136
5800     135
8100     135
7900     134
6900     128
5200     113
        ...
3590       1
2830       1
2790       1
10315      1
12165      1
2150       1
10885      1
3998       1
11780      1
3010       1
11650      1
9520       1
3090       1
12065      1
2435       1
3445       1
7006       1
9690       1
2760       1
4506       1
16345      1
11580      1
12095      1
2470       1
10930      1
3480       1
2145       1
11430      1
11655      1
12160      1
Name: VehBCost, Length: 1869, dtype: int64
--------------------------
7500     0.011078
6500     0.006444
7800     0.006251
7200     0.006131
7000     0.005962
6000     0.005841
8000     0.005817
4200     0.005551
6300     0.005455
7100     0.005334
7400     0.004803
6100     0.004562
6400     0.004538
7300     0.004248
7700     0.004103
8200     0.003789
5000     0.003765
5500     0.003717
6800     0.003548
6700     0.003500
5700     0.003451
6200     0.003379
7600     0.003331
6600     0.003331
4175     0.003282
5800     0.003258
8100     0.003258
7900     0.003234
6900     0.003089
5200     0.002727
           ...
3590     0.000024
2830     0.000024
2790     0.000024
10315    0.000024
12165    0.000024
2150     0.000024
10885    0.000024
3998     0.000024
11780    0.000024
3010     0.000024
11650    0.000024
9520     0.000024
3090     0.000024
12065    0.000024
2435     0.000024
3445     0.000024
7006     0.000024
9690     0.000024
2760     0.000024
4506     0.000024
16345    0.000024
11580    0.000024
12095    0.000024
2470     0.000024
10930    0.000024
3480     0.000024
2145     0.000024
11430    0.000024
11655    0.000024
12160    0.000024
Name: VehBCost, Length: 1869, dtype: float64

In [35]:
print(df['IsOnlineSale'].unique())
print('--------------------------')
print(df['IsOnlineSale'].value_counts())
print('--------------------------')
print(df['IsOnlineSale'].value_counts(normalize=True))

[0.0 -1.0 2.0 4.0 1.0 nan '0' '1' '?']
--------------------------
0.0     31368
0        8572
1.0       753
-1.0      601
1         134
?           2
4.0         1
2.0         1
Name: IsOnlineSale, dtype: int64
--------------------------
0.0     0.757096
0       0.206893
1.0     0.018174
-1.0    0.014506
1       0.003234
?       0.000048
4.0     0.000024
2.0     0.000024
Name: IsOnlineSale, dtype: float64

In [38]:
print(df['WarrantyCost'].unique())
print('--------------------------')
print(df['WarrantyCost'].value_counts())
print('--------------------------')
print(df['WarrantyCost'].value_counts(normalize=True))

[ 920.  834.  671. 1500.  505. 1703.  837. 1003.  762.  975. 1328.  482.
 1181. 1155.  533.  905. 1215.  623. 1086.  754.  728. 1020.  693. 2282.
  825. 3667. 1740.  882. 1623. 1763.  462. 1118. 1485. 1220.  983.  569.
  853. 1272.  764. 1506. 1806. 1113. 1373. 2152.  582. 1503.  923.  686.
  594. 1053.  803. 1413. 1243. 1918. 2712.  588.  723. 2274.  833. 1389.
  630. 1633.  894. 1613. 2351. 1251. 1974. 1923. 1630.  810. 1450. 1341.
 1205. 1543. 1933. 1169. 1411. 1125. 4032. 2022. 2003.  930. 1551. 1785.
 1606. 1497. 2091. 4210. 2452. 1666. 1103.  765.  986. 3415. 1153. 1134.
 1283. 2412. 2506. 1455. 2063.  620. 2322.  869. 4922.  888. 1320. 1313.
 1711. 1023. 1038. 1137. 1803. 2208. 1801. 4622. 3910. 1893. 2495.  909.
 1197. 1808.  941. 1046. 1418. 1028. 1346.  553. 1800. 1641. 2391. 4982.
 2218. 1898. 1689. 1857. 1774. 1065. 1634. 2508. 2582. 2651. 2198. 2735.
  822. 1386. 1353. 5392. 1508. 2074. 3115.  642. 1430.  970.  805. 1515.
 1469. 1054. 1223. 1572. 1062. 2157. 1334. 2639. 1338.  942.  782. 1416.
 2040. 1257. 1583.  993. 1116. 2939. 2141. 1417.  702.  971. 1601. 1001.
 2062. 2700. 1275. 1064. 1673. 5913. 2206. 1209. 1930. 5092. 5613. 2193.
 3035. 2390. 1130. 2070. 2101. 2499. 1906. 1121. 3276. 1628. 3967. 3265.
 1187. 2362. 1694. 1769. 3222. 3676.  522. 1110.  650. 1966. 3376. 1717.
  683. 4737. 2799. 2172. 1944. 1421. 3000. 2711. 4437. 2871. 2230. 2891.
 1750. 1301. 2571. 3191. 3298.  950. 6819. 4332. 1303. 1487. 2441. 1182.
 1557. 2090. 1481. 1770. 1590. 1610. 2998. 3565. 7498. 1398.   nan 4241.
 1241. 1931. 1216. 2836. 1361. 2731. 2937. 2251. 2922. 1644. 2976. 1571.
 1872. 1122. 6492. 6208. 2838. 1270. 1061. 7198.]
--------------------------
920.0     1667
1974.0    1337
2152.0    1207
1215.0    1183
1389.0    1166
1155.0    1075
728.0      958
803.0      943
1503.0     889
1243.0     868
1086.0     866
569.0      810
1020.0     790
1703.0     774
983.0      763
1272.0     699
1623.0     687
533.0      686
853.0      661
834.0      653
754.0      627
1763.0     623
505.0      617
825.0      617
671.0      609
1373.0     597
1506.0     574
693.0      571
1633.0     567
975.0      558
          ...
1481.0       2
2922.0       2
3298.0       2
1590.0       2
6819.0       2
3265.0       2
2711.0       2
2731.0       1
1571.0       1
4982.0       1
4437.0       1
7498.0       1
6208.0       1
2251.0       1
7198.0       1
1361.0       1
1216.0       1
6492.0       1
1644.0       1
2838.0       1
2937.0       1
1872.0       1
3000.0       1
1205.0       1
2230.0       1
2172.0       1
1270.0       1
4241.0       1
683.0        1
1931.0       1
Name: WarrantyCost, Length: 271, dtype: int64
--------------------------
920.0     0.040235
1974.0    0.032270
2152.0    0.029132
1215.0    0.028553
1389.0    0.028142
1155.0    0.025946
728.0     0.023122
803.0     0.022760
1503.0    0.021457
1243.0    0.020950
1086.0    0.020902
569.0     0.019550
1020.0    0.019067
1703.0    0.018681
983.0     0.018416
1272.0    0.016871
1623.0    0.016581
533.0     0.016557
853.0     0.015954
834.0     0.015761
754.0     0.015133
1763.0    0.015037
505.0     0.014892
825.0     0.014892
671.0     0.014699
1373.0    0.014409
1506.0    0.013854
693.0     0.013782
1633.0    0.013685
975.0     0.013468
            ...
1481.0    0.000048
2922.0    0.000048
3298.0    0.000048
1590.0    0.000048
6819.0    0.000048
3265.0    0.000048
2711.0    0.000048
2731.0    0.000024
1571.0    0.000024
4982.0    0.000024
4437.0    0.000024
7498.0    0.000024
6208.0    0.000024
2251.0    0.000024
7198.0    0.000024
1361.0    0.000024
1216.0    0.000024
6492.0    0.000024
1644.0    0.000024
2838.0    0.000024
2937.0    0.000024
1872.0    0.000024
3000.0    0.000024
1205.0    0.000024
2230.0    0.000024
2172.0    0.000024
1270.0    0.000024
4241.0    0.000024
683.0     0.000024
1931.0    0.000024
Name: WarrantyCost, Length: 271, dtype: float64

In [37]:
print(df['ForSale'].unique())
print('--------------------------')
print(df['ForSale'].value_counts())
print('--------------------------')
print(df['ForSale'].value_counts(normalize=True))

['Yes' 'No' '?' 'yes' '0' 'YES']
--------------------------
Yes    27402
YES     8544
yes     5524
?          3
No         2
0          1
Name: ForSale, dtype: int64
--------------------------
Yes    0.660671
YES    0.205999
yes    0.133185
?      0.000072
No     0.000048
0      0.000024
Name: ForSale, dtype: float64